/* Meta Box Styles */
div#wpdev_mobile_articles-wpdev-mobile-articles h2 {background: #333333;color: #fff;}div#wpdev_mobile_articles-wpdev-mobile-articles button {color: #fff;}div#wpdev_mobile_articles-wpdev-mobile-articles label {font-weight: bold;display: inline-block}div#wpdev_mobile_articles-wpdev-mobile-articles label[for=wpdev_mobile_articles_instant_articles] {color: #3b5998;}div#wpdev_mobile_articles-wpdev-mobile-articles label[for=wpdev_mobile_articles_amp] {color: #0379C4;}

/* Switches */
.ios-ui-select{border:none;height:36px;background:#ddd;-webkit-border-radius:18px;border-radius:18px;width:60px;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out;-webkit-box-shadow:none;box-shadow:none;cursor:pointer;position:relative;display:inline-block}.ios-ui-select.checked{-webkit-box-shadow:inset 0 0 0 36px #3A9552;box-shadow:inset 0 0 0 36px #3A9552}.ios-ui-select.checked .inner{left:27px}.ios-ui-select .inner{width:30px;height:30px;position:absolute;top:3px;left:3px;-webkit-border-radius:100%;border-radius:100%;background:#fff;-webkit-transition:all 350ms cubic-bezier(0,.89,.44,1);-moz-transition:all 350ms cubic-bezier(0,.89,.44,1);-o-transition:all 350ms cubic-bezier(0,.89,.44,1);transition:all 350ms cubic-bezier(0,.89,.44,1);-webkit-box-shadow:0 1px 2px 0 rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.1);box-shadow:0 1px 2px 0 rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.1)}

/* Admin Styles */
/* Admin Styles */
.wrap.wpdev-mobile-admin {
    background: #fff;
    padding: 1rem;
    margin-top: 1.45rem;
}

.wrap.wpdev-mobile-admin p {
    font-size: 0.9rem;
}

h2.amp-settings, h2.fbia-settings {
    color: #fff;
    padding: 15px;
    margin-bottom: 0;
    font-weight: normal;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.wrap.wpdev-mobile-admin a.wpdev-here {
    background: #333333;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0px 10px;
    display: inline-block;
    text-decoration: none;
}

h2.amp-settings {
    background: #0379c4;
}

h2.fbia-settings {
    background: #3b5998;
}

table.form-table.amp-settings th {
    color: #0379c4;
}

table.form-table.fbia-settings th {
    color: #3b5998;
}

table.form-table.amp-settings, table.form-table.fbia-settings {
    border: 2px solid #0379c4;
    padding: 0 1rem;
    display: block;
    margin-top: 0;
}

table.form-table.amp-settings {
    border: 2px solid #0379c4;
}

table.form-table.fbia-settings {
    border: 2px solid #3b5998;
}

table.form-table.amp-settings.hidden, table.form-table.fbia-settings.hidden {
    display: none;
}

.wrap.wpdev-mobile-admin p.submit {
    padding-bottom: 0;
}

.wrap.wpdev-mobile-admin p.submit input {
    background: #333333;
    border: none;
    text-shadow: none;
    border-radius: 0;
    font-size: 1rem;
    padding: 0.3rem 1rem;
    height: auto;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.wrap.wpdev-mobile-admin p.submit input:hover {
    opacity: 0.9;
}

table.form-table th {
    font-size: 1rem;
}

table.form-table.amp-settings .ios-ui-select.checked {
    -webkit-box-shadow: inset 0 0 0 36px #0379c4;
    box-shadow: inset 0 0 0 36px #0379c4;
}

table.form-table.fbia-settings .ios-ui-select.checked {
    -webkit-box-shadow: inset 0 0 0 36px #3b5998;
    box-shadow: inset 0 0 0 36px #3b5998;
}

.wpdev-mobile-admin .form-table label {
    vertical-align: top;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    display: inline-block;
    color: rgba(51,51,51,0.7) !important;
    font-style: italic;
}

.wrap.wpdev-mobile-admin a {
    color: #0379c4;
}

p.wpdev-mobile-copyright {
    color: rgba(51,51,51,0.5);
    font-size: 0.8rem !important;
}

table.form-table.hidden.amp-settings.visible, table.form-table.hidden.fbia-settings.visible {
    display: block;
}